<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sample.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name="com.example.sample.sample.myapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.HorizontalRecyclerViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.ListActivity"
            android:label="ListView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.GridViewActivity"
            android:label="GridView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.ScrollViewActivity"
            android:label="ScrollView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.PullToRefreshActivity"
            android:label="PullToRefresh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.WebViewActivity"
            android:label="WebView"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.PullToRefreshScrollViewActivity"
            android:label="PullToRefreshScrollView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.PullToRefreshScrollViewActivity2"
            android:label="PullToRefreshScrollView2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.RefreshScrollViewActivity"
            android:label="RefreshScrollView w/o SpringRelatvieLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.sample.sample.myapplication.HorizontalScrollViewActivity"
            android:label="HorizontalScrollView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.PullToRefreshRecyclerViewActivity"
            android:label="PullToRefreshRecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.SpringRecyclerActivity"
            android:label="SpringRecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.ExpandableListDemo"
            android:label="ExpandableListView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.ListViewActivity2"
            android:label="ListView2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.MySettingsActivity"
            android:label="Settings"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sample.sample.myapplication.NestScrollActivity"
            android:label="NestScroll"
            android:theme="@style/MyEdgeOverlayTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>